In [7]:
a = [
    [0],
    [1],
    [0]
]
b = []
for aa in a:
    b.extend(aa)
b

[0, 1, 0]

In [28]:
a = {
    'key': [
        None,
        1,
        0,
        None,
        3
    ]
}
df = pd.DataFrame(a)
b = df.key.apply(lambda x: False if pd.isna(x) else True)
b

0    False
1     True
2     True
3    False
4     True
Name: key, dtype: bool

In [59]:
df=pd.DataFrame(
    [
        [1,2,3],
        [10,20,30],
        [100,200,300],
        [1000,2000,3000]
    ],
    index=['row_0', 'row_1','row_2','row_3'],
    columns=['col_0','col_1','col_2']
)

df

       col_0  col_1  col_2
row_0      1      2      3
row_1     10     20     30
row_2    100    200    300
row_3   1000   2000   3000

In [61]:
df.loc[df.col_0 == 10, 'col_1']

row_1    20
Name: col_1, dtype: int64

In [62]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
preprocessed_train = pd.read_csv('preprocessed_train.csv')

In [80]:
preprocessed_train.Age.describe()

count    891.000000
mean      29.361582
std       13.019697
min        0.420000
25%       22.000000
50%       28.000000
75%       35.000000
max       80.000000
Name: Age, dtype: float64

In [81]:
def categorize(x):
    if x <= 15:
        return 0
    if 15 < x and x <= 30:
        return 1
    if 30 < x and x <= 45:
        return 2
    if 45 < x and x <= 60:
        return 3
    return 4
preprocessed_train.Age.apply(categorize)

0      1
1      2
2      1
3      2
4      2
5      1
6      3
7      0
8      1
9      0
10     0
11     3
12     1
13     2
14     0
15     3
16     0
17     1
18     2
19     1
20     2
21     2
22     0
23     1
24     0
25     2
26     1
27     1
28     1
29     1
      ..
861    1
862    3
863    1
864    1
865    2
866    1
867    2
868    1
869    0
870    1
871    3
872    2
873    3
874    1
875    0
876    1
877    1
878    1
879    3
880    1
881    2
882    1
883    1
884    1
885    2
886    1
887    1
888    1
889    1
890    2
Name: Age, Length: 891, dtype: int64

In [83]:
preprocessed_train.Fare.describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [90]:
test = pd.read_csv('test.csv')
sample = pd.read_csv('gender_submission.csv')